**/devel/
**/build/

.histfile
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd

*.tar
*.img
*.bak
*.log

docker-compose.override.yml
docker-compose.override.yaml

.docker/
**/.dockerignore


*.swp
*.swo
*~
.DS_Store
Thumbs.db

*.o
*.out
*.exe
*.a
*.so
*.dll
*.tmp